:root {
	--main-color: #ffe44d;
}

body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.cards-container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(1,auto);
	gap: 30px;
}

.wrapper {
	min-height: 100vh;
	align-content: center;
}

.ad-block {
	display: flex;
	max-width: 100%;
	align-items: center;
	grid-template-columns: repeat(4, auto);
	height: 150px;
	width: 100%;
	border-radius: 15px;
	margin: 10px;
}


.catalogue__header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px ;
}